## Handling Imbalnced Dataset

1. Up Sampling
2. Down Sampling

In [2]:
import numpy as np
import pandas as pd

# Set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples -n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## Create dataframe with imbalance Dataset

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]* n_class_0
})

class_1 = pd.DataFrame({
     'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
     'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
     'target': [1]* n_class_1
})

In [5]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [7]:
df.tail()

     feature_1  feature_2  target
995   1.376371   0.845701       1
996   2.239810  -1.119923       1
997   1.131760  -0.359297       1
998   2.902006  -1.609695       1
999   2.697490   0.013570       1

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [9]:
## Upsampling 

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [10]:
from sklearn.utils import resample 
df_minority_upsampled = resample(df_minority,replace=True, #sample with replacement
         n_samples = len(df_majority),
         random_state = 42
        )

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854  -0.156083       1
992   2.196570  -0.602575       1
914   1.932170   0.998053       1
971   2.272825   1.034197       1
960   2.870056  -0.449515       1

In [13]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Down Sampling

In [15]:
# Set the random seed for reproductibility 
np.random.seed(123)

## Create a dataframe with two classes 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples -n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]* n_class_0
})

class_1 = pd.DataFrame({
     'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
     'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
     'target': [1]* n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)

# check the class distribution 
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [16]:
## Down_sampling 

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [17]:
from sklearn.utils import resample 
df_majority_downsampled = resample(df_majority,replace=False, #sample with replacement
         n_samples = len(df_minority),
         random_state = 42
        )

In [18]:
df_majority_downsampled.shape

(100, 3)

In [19]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [20]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64